body{
  margin:0;
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  background:#9a180a;
  -webkit-background-size:200%;
     -moz-background-size:200%;
       -o-background-size:200%;
          background-size:200%;
  color:white  overflow-x: hidden;
}

main{
  position:relative;
  min-height:100%;
  top:0;
  bottom:100%;
  left:0;
  z-index:1;
  background:#9a180a;
  padding:0 0 4em 4em;
}

h1{
  text-align:center;
}

/* Nav begin */
.navTrigger{
  position:absolute;
  clip:rect(0, 0, 0, 0);
}

label[for="navTrigger"]{
  position:fixed;
  top:15px;
  left:15px;
  z-index:2;
  width:30px;
  height:30px;
  cursor:pointer;
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  -webkit-background-size:/*@@prefixmycss->No equivalent*/;
     -moz-background-size:contain;
       -o-background-size:/*@@prefixmycss->No equivalent*/;
          background-size:contain;
}

.navTrigger:checked + label, .navTrigger.active + label{
  left:215px;
}

.navTrigger:checked ~ main, .navTrigger.active  ~ main{
  left:200px;
  -webkit-box-shadow:0 0 5px 5px rgba(0,0,0,0.5);
     -moz-box-shadow:0 0 5px 5px rgba(0,0,0,0.5);
          box-shadow:0 0 5px 5px rgba(0,0,0,0.5);
}

.navTrigger + label, main{
  -webkit-transition:left 0.2s;
     -moz-transition:left 0.2s;
       -o-transition:left 0.2s;
          transition:left 0.2s;
}

ul#genreNav{
  list-style:none;
  margin:0;
  background:#ca1f0d;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
  display:flex;
    -webkit-flex-flow:row wrap;
  font-size:1.3em;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0;
}

ul#genreNav{
    -webkit-flex-flow:column wrap;
  flex-flow:column wrap;
  padding:0;
}

ul#genreNav a{
  text-decoration:none;
  display:block;
  padding:.5em;
  color:white;
  -webkit-transition:all .5s ease-in;
     -moz-transition:all .5s ease-in;
       -o-transition:all .5s ease-in;
          transition:all .5s ease-in;
  border-top:1px solid rgba(255, 255, 255, 0.3);
}

ul#genreNav a:hover{
  background:white;
  color:#ca1f0d;
}

/* Nav end */

/*Content start*/

section{
  display:none;
}

section.active, div, .movies.active article{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
  display:flex;
}

.movies.active{
  padding:0;
  margin:0;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
    -webkit-flex-flow:wrap;
  flex-flow: wrap;
    -webkit-justify-content:space-around;
  justify-content:space-around;
}

.movies article{
  position:relative;
  font-size:1em;
  margin:1% 0;
    -webkit-flex: 0 0 auto;
  flex:0 0 auto;
    -webkit-justify-content:flex-start;
  justify-content:flex-start;
  background:#FFFFFF;
  width:48%;
}

/*Grid view start*/

img.cover{
  float:left;
}

article div{
    -webkit-flex-flow: column wrap;
  flex-flow:column wrap;
    -webkit-justify-content:space-between;
  justify-content:space-between;
  flex:0 0 63%;
}

div h2, div p{
  margin:2% 5%;
  color:black;
}

div h1{
  color:#a01d0f;
}

div a{
  text-decoration:none;
  display:block;
}
/*Grid view end*/

/* Article start */
article{
  background-color:white;
}

article ul li{
  list-style:none;
}

.film{
  padding:1em;
}

.film article img.cover{
  margin-right:2%;
}

.film article div {
  flex: 0;
    -webkit-flex-flow: column;
  flex-flow: column;
    -webkit-justify-content: space-between; 
  justify-content: space-between;
}

.film article div p {
  margin: 2% 0%;
  color: #9a180a;
  font-weight: bold;
}

.film article h2{
  padding: 0 20px;
}

.film ul{
  padding: 0;
}


@media screen and (max-width: 750px){
  html.touch .navTrigger, label{
    display:none;
  }

  .movies article { 
      -webkit-flex-direction: column;
    flex-direction:column;
      -webkit-flex:0 0 100%;
    flex:0 0 100%;
  }

  img.cover{
    float:none;
    width:100%;
  }

  section.active, div, .movies.active article{
    display:block;
  }

  section.movies.active{
    margin-right:8%;
  }

  .movies.active article{
    margin:0;
    margin-bottom:20%;
  }

  article div{
    padding:12px;
  }

  .film article ul {
      display:-webkit-box;
      display:-moz-box;
      display:-ms-flexbox;
      display:-webkit-flex;
    display:flex;
      -webkit-flex-flow:wrap;
    flex-flow: wrap;
    padding: 0;
  }

  .film article em, [data-bind="plot"] {
    padding: 0 20px;
  }

  main{
    padding:2em;
  }

  section.movies.active{
    margin-right:0%;
  }

}


